<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404 Not Found</title>
    </head>
    <body style="margin:0; height:100vh; display:flex; justify-content:center; align-items:center; background:#f4f6f9; font-family:Arial, sans-serif;">
        <div style="text-align:center; padding:40px; background:white; border-radius:12px; box-shadow:0 4px 12px rgba(0,0,0,0.1);">
        <h2 style="color:red; font-size:36px; margin-bottom:10px;">404 - page Not Found</h2>
        <p style="font-size:18px; color:#555; margin-bottom:20px;">Oops! This page doesn't exist.</p>
        <a href="/" style="displaying:inline-block; padding:10px 20px; background:#2563eb; color:white; text-decoration:none; border-radius:6px; font-weight:bold;">
        Go Home
        </a>
        </div>
    </body>
</html>