<!DOCTYPE html>
<html lag="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav>
        <a href="/">Home</a>
        <a href="/about/">About us</a>
        <a href="/products/menu">Menu</a>
        <a href="/Contact/">Contact</a>
        </nav>
        <h1>Contact Us</h1>
        <p style="text-align:center; margin-top:20px;">
            <p><b>Address:</b> 123 food street, chennai</p>
            <p><b>Phone:</b> +91 76959 60636</p>
            <p><b>Email:</b> stephan5724@gmail.com</p>
            </div>
            </body>
            </html

